section.art-competition-application {
  max-width: 500px;
  margin: auto;
  font-family: Arial;

  * {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  h1 {
    span{
      display: block;
      font-weight: 1000;
      font-size: 30px;
      color: #000;
      padding-bottom: 10px;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 20px;

    label{
      cursor: pointer;
      font-size: 32px;
    }
  }

  form {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

    fieldset {
      padding-top: 10px;
      padding-bottom: 10px;
      gap: 15px;
      padding: 8px 12px;
      box-sizing: border-box;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-top: 10px;

      legend {
        padding: 0 10px;
      }

      label {
        display: flex;
        align-items: center;
      }

      input {
        margin-right: 10px;
      }
    }

    label {
      padding-top: 10px;
      padding-bottom: 10px;
      display: block;
      cursor: pointer;

      input:not([type="radio"]),
      select {
        background-color: #fff;
        display: block;
        width: 100%;
        height: 35px;
        border: 1px solid #aaa;
        margin-top: 2px;
        padding: 6px;
        box-sizing: border-box;
        cursor: pointer;
      }

      input[type="color"] {
        padding: 0;
      }
    }


    label:has(input[type="checkbox"]) {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      input[type="checkbox"] {
        width: auto;
        margin-right: 10px;
      }
    }

    input[type="submit"] {
      width: 100%;
      background-color: #4daf50;
      height: 50px;
      box-sizing: border-box;
      border: 1px solid #4daf50;
      border-radius: 5px;
      color: #ffffff;
      font-weight: bold;
      cursor: pointer;
    }

    input[type="submit"]:hover{
        background-color: #45a049;
      }
  }
}

.moon-switcher:checked ~ .art-competition-application form {
  background-color: #1c1c1c;
  color: #fff;
  border-color: #000;
}

.moon-switcher:checked ~ .art-competition-application form input:not([type="submit"]),
.moon-switcher:checked ~ .art-competition-application form select {
  background-color: #2a2a2a;
  color: #fff;
  border-color: #000;
}

