:root {
    --color-blue: #1e5a9c;
    --color-red: #d32f2f;
    --color-green: #388e3c;
    --color-yellow: #fbc02d;
    --border-color: #333;

    --current-color: var(--color-blue);
    --current-image-url: url('../images/polo_b.png');

    --image-max-width: 500px;
    --details-width: 300px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 1.5;

    body {
        color: #333;
    }

    .product-card {
        border-radius: 8px;
        max-width: calc(var(--image-max-width) + var(--details-width) + 8rem);
        background-color: #f8f9fa;
        margin: 0 auto;

        &:has(#color-red:checked) .product-card-inner {
            --current-color: var(--color-red);
            --current-image-url: url('../images/polo_r.png');
        }

        &:has(#color-green:checked) .product-card-inner {
            --current-color: var(--color-green);
            --current-image-url: url('../images/polo_g.png');
        }

        &:has(#color-yellow:checked) .product-card-inner {
            --current-color: var(--color-yellow);
            --current-image-url: url('../images/polo_y.png');
        }

        &:has(#color-blue:checked) label[for="color-blue"],
        &:has(#color-red:checked) label[for="color-red"],
        &:has(#color-green:checked) label[for="color-green"],
        &:has(#color-yellow:checked) label[for="color-yellow"] {
            border: 4px solid #fff
        }


        input[type="radio"] {
            display: none;
        }

        .product-card-inner {
            display: flex;
            flex-wrap: wrap;
            padding: 1.5rem;
            justify-content: center;
            gap: 2rem;

            .product-image-container {
                width: 500px;
                border: 2px solid var(--current-color);
                aspect-ratio: 1 / 1;
                border-radius: 0.5rem;
                background-color: #fff;
                background-image: var(--current-image-url);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .product-details {
                width: 300px;
                min-height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: var(--details-width);

                header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h1 {
                        font-size: 1.5em;
                        font-weight: bold;
                    }

                    span {
                        background-color: var(--current-color);
                        color: white;
                        padding: 2px 15px;
                        border-radius: 4px;
                        font-size: 1em;
                        font-weight: bold;
                    }
                }

                .product-options {
                    align-items: center;
                    display: flex;
                    flex-direction: column;

                    .product-description {
                        font-size: 1rem;
                    }

                    h2 {
                        font-size: 1em;
                        font-weight: bold;
                        margin-bottom: 1rem;
                    }

                    .size-option:checked+.size-switcher {
                        background-color: var(--current-color);
                        color: #fff;
                        font-weight: bold;
                    }

                    .add-to-cart-btn {
                        padding: 1.5rem 2.5rem;
                        background-color: var(--current-color);
                        border: 2px solid var(--border-color);
                        border-radius: 0.5rem;
                        color: white;
                        font-size: 1em;
                        font-weight: bold;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: background-color 0.2s;
                    }
                }

                .options {
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    margin-bottom: 15px;

                    h2 {
                        font-weight: bold;
                    }

                    label[for="size-s"],
                    label[for="size-m"],
                    label[for="size-l"],
                    label[for="size-xl"] {
                        width: 40px;
                        padding: 0.4rem 0;
                        text-align: center;
                        border: 2px solid var(--border-color);
                        border-radius: 4px;
                        cursor: pointer;
                        font-weight: bold;
                        transition: background-color 0.2s, color 0.2s, border-color 0.2s;
                    }

                    label[for="color-blue"] {
                        background-color: var(--color-blue);
                    }

                    label[for="color-red"] {
                        background-color: var(--color-red);
                    }

                    label[for="color-green"] {
                        background-color: var(--color-green);
                    }

                    label[for="color-yellow"] {
                        background-color: var(--color-yellow);
                    }

                    .color-switcher {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: var(--switcher-color);
                        cursor: pointer;
                        transition: transform 0.1s, box-shadow 0.1s;
                        border: none;
                        box-shadow: 0 0 0 2px var(--border-color);
                    }
                }

                .product-price {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-top: 15px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}