:root {
  --bg: #f4f5f7;
  --col-bg: #ebecf0;
  --item-bg: #fff;
  --txt: #172b4d;
  --radius: 8px;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--bg);
  color: var(--txt);
  height: 100vh;
  display: flex;
  flex-direction: column;

  >header {
    text-align: center;
    background: #fff;
    padding: 1rem;
    box-shadow: 0 1px 2px #0002;

    h1 {
      margin: 0;
      font-size: 1.5rem;
    }

    p {
      margin: 0;
      color: #666;
      font-size: 0.9rem;
    }
  }
}

main {
  justify-content: center;
  display: flex;
  gap: 1.5rem;
  padding: 2rem;
  overflow-x: auto;
  flex-grow: 1;
  align-items: flex-start;
  scroll-snap-type: x mandatory;

  @media(max-width: 1000px) {
    justify-content: flex-start;
  }

  @media (max-width: 600px) {
    padding: 1rem;
    gap: 1rem;
  }

  >section {
    background: var(--col-bg);
    min-width: 300px;
    width: 300px;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    max-height: 100%;
    scroll-snap-align: center;

    @media (max-width: 600px) {
      min-width: 85vw;
      width: 85vw;
    }

    >header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      font-weight: bold;

      >nav {
        >button {
          border: none;
          background: transparent;
          cursor: pointer;
          opacity: 0.5;
          transition: 0.2s;

          &:hover {
            opacity: 1;
            transform: scale(1.1);
          }
        }
      }
    }

    >div {
      flex-grow: 1;
      overflow-y: auto;
      min-height: 50px;
      padding: 5px 0;

      >div {
        background: var(--item-bg);
        border-radius: var(--radius);
        margin-bottom: 0.8rem;
        padding: 0.8rem;
        box-shadow: 0 1px 0 #091e4240;
        transition: 0.2s;

        >p {
          margin: 0;
          min-height: 1.5em;
          outline: none;
          word-break: break-word;
        }

        >footer {
          margin-top: 10px;
          padding-top: 5px;
          border-top: 1px solid #0001;
          display: flex;
          justify-content: space-between;

          button {
            background: #ffffff80;
            border: 1px solid #0001;
            border-radius: 4px;
            cursor: pointer;
            padding: 2px 6px;

            &:hover {
              background: #fff;
              box-shadow: 0 1px 2px #0001;
            }
          }
        }
      }
    }

    >button {
      width: 100%;
      padding: 0.5rem;
      border: none;
      background: transparent;
      text-align: left;
      cursor: pointer;
      color: #5e6c84;
      border-radius: var(--radius);

      &:hover {
        background: #0001;
        color: var(--txt);
      }
    }
  }
}